# ============================================================
# Global Ignore Rules for Subfolders (GenAI-course project)
# ============================================================

# Ignore all environment files anywhere in subfolders
**/.env
**/.env.*
*.env

notebooks_week06/daneshkar_image_prompt_crafting.ipynb

# Ignore all Python virtual environments in subfolders
**/venv/
**/__pycache__/

# Optional: ignore Streamlit cache, build artifacts, etc.
**/.streamlit/
**/logs/
**/cache/
**/dist/
**/build/
**/*.egg-info/

# Optional: ignore IDE and system junk
**/.vscode/
**/.idea/
**/.DS_Store
**/Thumbs.db


# Ignore cached json files
CA_04_RAG_Chain_Personal_Chatbot/cached_extracted_data/*.jsonl
CA_04_RAG_Chain_Personal_Chatbot/cached_extracted_data/*.json
